@font-face {
    font-family: Roboto;
    src: url(./Fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf) format('ttf');
    font-weight: normal;
}
@font-face {
    font-family: Roboto;
    src: url(./Fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf) format('ttf');
    font-style: italic;
}
@font-face {
    font-family: 'Open-Sans';
    src: url(./Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format('ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Open-Sans';
    src: url(./Fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format('ttf');
    font-style: italic;
}
:root {
   --bg-color: hsl(220 100% 50%);
   --bg-color1: hsl(55 70% 80%);
   --text-color :white;
   --text-color2 : hsl(220 100% 50%);
   --text-color3 : hsl(220 100% 30%);
   --text-color4: #33fff8;
   --txt-shadow: 0 0 3px #33fff8;
   --txt-shadow1: 0.5px 0.5px 1px #33fff8;
   --txt-shadow2: 1px 1px 2px #fff;
   --txt-shadow3: 0 0 5px #fff;
   --txt-shadow4: 0 0 3px hsl(220 100% 30%);
   --txt-shadow5: 0 0 5px hsl(220 100% 30%);
   --txt-shadow6: 0 0 20px #fff, 1px 1px 2px hsl(220 100% 30%);
   --txt-shadow7: 1px 1px 2px red;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 2px;

}

/* header */
.navbar {
    border-bottom: 1px;
    box-shadow: 0px 2px 2px white;
    margin: 10px O;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr;
    text-align: center;

}
.logo {
    vertical-align: middle;
    text-align: center;
    margin: 10px;
    width: 100%;
    object-fit: cover;
    border: 1px solid lightblue;
    box-shadow: 0 0 7px white;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
.navbar-name {
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
    font-size: 5rem;
    margin: 5px auto;
    text-shadow: var(--txt-shadow5);

}
a.navbar-name {
    margin: 0 auto;
    text-decoration: none;
    color: var(--text-color);
}
ul.logo-list {
    font-family: 'Roboto';
    grid-column: 2 / span 3;
    grid-row: 2 / 2;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.navbar li {
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;
    text-shadow: var(--txt-shadow5);
}


/* main */ 
.foto-intro {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
}
img.foto-intro {
    border-radius: 30px;

}
.intro {
    background-image: url(./Images/foto_familia_feliz.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bio {
    margin-top: 3px;
    padding: 5px 5px;
    width: 100%;
    color: var(--text-color2);
    font-family: 'Roboto', sans-serif;
}

.bio h1 {
    color: var(--bg-color);
    text-shadow: var(--txt-shadow1);
    padding: 5px;
    text-align: center;
    margin: 5px auto;
}
.bio p {
    color: var(--text-color2);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 10px;
    text-align: center;
}

.servicios {
    color: var(--text-color2);
    text-shadow: var(--txt-shadow3);
    background-color: var(--bg-color1);
    margin-top: 10px;
    padding: 5px;
    font-family: 'Open-Sans', sans-serif;
}
hr {
    width: 50%;
    margin: 0 auto;
}
.temas {
    text-align: center;
    margin: 20px auto;
}
.temas h2 {
    margin-bottom: 10px;
    text-shadow: var(--txt-shadow6);
}
.temas li {
    font-size: 1.5rem;
    color: var(--text-color2);
    margin: 5px auto;
}
.temas li::before {
    display: inline-block;
    content: '\002713';
    margin-right: 5px;
    color: green;
}

/* contact */
.contact {
    display:block;
    text-decoration: none;
}
address {
    text-align: center;
    text-shadow: var(--txt-shadow4);
}
.contacto {
    font-size: 1.3rem;
    text-decoration: underline;
    margin: 10px auto 10px;
}
 a.contact {
    color: var(--text-color);
    font-size: 1.2rem;
}
address a:hover {
    color: var(--text-color1);
    font-size: 1.3rem;
    text-shadow: var(--txt-shadow1);
}
.marcar {
    padding: 5px;
    margin: 5px auto;
    border: 1px solid var(--txt-shadow);
    border-radius: 10px;
    box-shadow: var(--txt-shadow2);
    background-color: greenyellow;
}
.marcar a.tel {
    color: var(--text-color3);
    text-shadow: var(--txt-shadow2);
}
.marcar .tel:hover {
    color: var(--text-color2);
    text-shadow: var(--txt-shadow3);
}

.address {
    margin: 20px auto;
    font-size: 1.1rem;
}
.map {
    text-align: center;
}
.ggmap {
    width: 95%;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--text-color3);
    box-shadow: var(--txt-shadow2);
}

footer {
    text-align: center;
    margin: 5px auto;
}
.opiniones {
    background-color: var(--bg-color1) ;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
div[class*='elfsight'] {
    text-align: center;
    width: 80%;
    margin: 20px auto;
}
